
<h3>{{'Simple'|translate}}</h3>
<p translate>Hello world</p>
<p>{{'Hello world'|uppercase|translate}}</p>

<h3>With params:</h3>
<p>{{'HELLO'|translate:param}}</p>
<p translate [translateParams]="param$|async">HELLO</p>


<h3>Pipes:</h3>
<p>Date: {{date|date:undefined:undefined:lang}}<p>
<p>Currency: {{balance|currency:undefined:undefined:undefined:lang}}<p>

<h3>ngx-translate-messageformat-compiler demo</h3>
<button (click)="count=0">0</button>
<button (click)="count=1">1</button>
<button (click)="count=2">2</button>
<button (click)="count=3">3</button>

<p translate>
    There
    {count, plural, =0{ is } one{ is } other{ are }}
    {count, plural, =0{} one{ a } other{ several }}
    {count, plural, =0{ nothing } one{ thing } other{ things }}
</p>

<!--"./src/app/**/!(*.spec).ts"-->
