
<br>
<fieldset>
    <legend>{{'Simple'|translate}}</legend>
    <p translate>Hello world</p>
    <p>{{'Hello world'|translate|uppercase}}</p>
</fieldset>
<br>

<fieldset>
    <legend translate>With params:</legend>
    <p>{{'HELLO'|translate:param}}</p>
    <p translate [translateParams]="param$|async">HELLO</p>
</fieldset>
<br>

<fieldset>
    <legend translate>Pipes</legend>
    <p>Date: {{date|date:undefined:undefined:lang}}</p>
    <p>Currency: {{balance|currency:undefined:undefined:undefined:lang}}</p>
</fieldset>
<br>

<fieldset>
    <legend translate>Plurals</legend>
    <p>
        {{'Select host'|translate}}
        <button *ngFor="let host of hosts" (click)="setHost(host)">{{host.name}}</button>
    </p>
    <p>
        {{'Select guests'|translate}}
        <button (click)="add()">+</button>
        <button (click)="remove()">-</button>
    </p>


    <p *ngIf="host" translate>
        {host.gender, select,
            male {
                {guests.length, plural,
                    =0    {{{host.name}} does not give a party.}
                    one   {{{host.name}} invites {{guests[0]}} to <b>his</b> party.}
                    =2    {{{host.name}} invites {{guests[0]}} and one other person to <b>his</b> party.}
                    other {{{host.name}} invites {{guests[0]}} and {{guests.length}} other people to <b>his</b> party.}
                }
            }
            female {
                {guests.length, plural,
                    =0    {{{host.name}} does not give a party.}
                    one   {{{host.name}} invites {{guests[0]}} to <b>her</b> party.}
                    =2    {{{host.name}} invites {{guests[0]}} and one other person to <b>her</b> party.}
                    other {{{host.name}} invites {{guests[0]}} and {{guests.length}} other people to <b>her</b> party.}
                }
            }
            other {
                {guests.length, plural,
                    =0    {{{hostName}} does not give a party.}
                    one   {{{hostName}} invites {{guests[0]}} to <b>their</b> party.}
                    =2    {{{hostName}} invites {{guests[0]}} and one other person to <b>their</b> party.}
                    other {{{hostName}} invites {{guests[0]}} and {{guests.length - 1}} other people to <b>their</b> party.}
                }
            }
        }
    </p>
    <div *ngIf="guests.length">
        <b>{{'List'|translate}}</b>:
        <p *ngFor="let guest of guests">{{guest}}</p>
    </div>

</fieldset>

